.card {
    width: 250px;
    background: #FFFFFF;
    border: 1px solid #e0e0e0;
    border-radius: 40px;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: all .3s;
    &:hover {
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-5px);
    }
    &__price {
      span {
        font-weight: 700;
      }
    }
    .button {
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    width: 30px;
    line-height: 20px;
    padding: 0;
    border: none;
    background-color: #ededed;
    transition: all .3s;
    &:hover {
      background-color: #d9d9d9;
    }
    }
    
  .card__footer {
    border-top: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}